{% extends 'drinkslist/base.html' %}

{% block title_block %}
    About
{% endblock %}

{% block heading_block %}
    Password Changed
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-4">Congratulations!</h1>
    <p class="lead">Password Changed</p>
    <hr class="my-4">
    <p>Your password has been successfully changed!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'drinkslist:index' %}" role="button">Back to Home</a>
    </p>
  </div>
{% endblock %}
    