{% extends 'drinkslist/base.html' %}


{% block title_block %}
    About
{% endblock %}


{% block heading_block %}
    About
{% endblock %}
    

{% block body_block %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">Home to the cocktail lovers </h1>
    <h2 class="display-4">... and the professional bartender</h2>
    <p class="lead">Drinkslist</p>
    <hr class="my-4">
    <p>Regular users can freely browse a lot of recipes which can benefit their skills a lot.</p>
    <p>Bartender users can freely and directly communicate with their followers, to promote a new recipes release.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  </div>
{% endblock %}
    
