{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Drink
{% endblock %}


{% block heading_block %}
    Add a Drink
{% endblock %}


{% block body_block %}
    <div class="container">

    <h1 class="display-4">Add a Drink</h1>
    <hr class="my-4">
	<form id="user_form" method="post" action="/drinkslist/add_drink/">
        {% csrf_token %}
        {{ form.as_p }}
		<button type="submit" value="create" class="btn btn-dark btn-secondary active mt-3 float-left">Create</button>
	</form>
	</div>

{% endblock %}