{% extends 'drinkslist/base.html' %}

{% block title_block %}
    Contact Us
{% endblock %}


{% block heading_block %}
    Contact Us
{% endblock %}
    

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Drinkslist contact us page</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
    </p>
  </div>
{% endblock %}
    