{% extends 'drinkslist/base.html' %}

{% block title_block %}
    Contact Us
{% endblock %}


{% block heading_block %}
    Contact Us
{% endblock %}
    

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Where do I report technical errors on the site (images won't load, broken links, etc.)?</p>
    <hr class="my-4">
    <p>2259458m@student.gla.ac.uk</p>
    <p>2359451d@student.gla.ac.uk</p>
    <p>2471069d@student.gla.ac.uk</p>
    <p class="lead">Where do I report editorial errors on the site?</p>
    <hr class="my-4">
    <p>2259458m@student.gla.ac.uk</p>
    <p class="lead">Whom should I contact about all profile and privacy needs?</p>
    <hr class="my-4">
    <p>2431148ld@student.gla.ac.uk</p>
    <p class="lead">Whom should I contact regards to business development ideas and opportunities?</p>
    <hr class="my-4">
    <p>2431011g@student.gla.ac.uk</p>
  </div>
{% endblock %}
    
