{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Recipe
{% endblock %}


{% block heading_block %}
    Create Recipe
{% endblock %}


{% block body_block %}
    <div class="container">
    <h1 class="display-4">Create Recipe</h1>
        <h2>{{ drink.name }}</h2>
    <hr class="my-4">
	<form id="user_form" method="post" action="{% url 'drinkslist:create_recipe' drink.slug %}" data={{user}}>
        {% csrf_token %}
        {{ form.as_p }}
        {% if user.is_authenticated %}
        <button type="submit" value="create" class="btn btn-dark btn-secondary active mt-3 float-right">Create</button>
        {% endif %}
	</form>
	</div>


{% endblock %}