{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Drinks
{% endblock %}


{% block heading_block %}
    Drinks
{% endblock %}
    

{% block body_block %}
    <div class="container">
    
    <h1 class="display-4">Drinks</h1>
    <hr class="my-4">
        {% if drinks %}
		{% for d in drinks %}
        <li>
            <a href="/drinkslist/drinks/{{ d.slug }}/">{{ d.name }}</a>
        </li>
		{% endfor %}
		{% endif %}
            </div>
    </div>


{% endblock %}