{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Drinks
{% endblock %}


{% block heading_block %}
    Drinks
{% endblock %}
    

{% block body_block %}
    <div class="container">
    
    <h1 class="display-4">Drinks</h1>
    <hr class="my-4">
        {% if drinks %}
		{% for d in drinks %}
        <li>
            <a href="{% url 'drinkslist:show_drink' d.slug %}">{{ d.name }}</a>
        </li>
		{% endfor %}
        {% else %}
        <strong>Doesn't look like there are any drinks!</strong>
        {% endif %}
        <br>
        <a href="{% url 'drinkslist:add_drink' %}"><button type="button" class="btn btn-secondary active">Add a drink</button></a>
            </div>
    </div>


{% endblock %}