<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinkslist</title>
</head>
<body>

    <h1>Testing Dynamic Templates</h1>
    <div>
        <a href="/drinkslist/about/">About</a><br />
        <a href="/drinkslist/contactus/">Contact Us</a><br />
    </div>

    <div>
        <script async src="https://cse.google.com/cse.js?cx=010938217216454462722:unpmdeb1lhb"></script>
        <div class="gcse-search"></div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous">
    </script>

    <!-- User Defined JS -->

</body>
</html>