{% extends 'drinkslist/base.html' %}


{% block title_block %}
    Homepage
{% endblock %}
    
{% block body_block %}
    <!-- searching part -->
    <div>
        <div class="search-txt input-group mb-3">
            <div class="input-group-prepend">
                <select class="btn btn-outline-secondary dropdown-toggle" name="search-selection" id="search-selection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu">
                        <option class="dropdown-item" value="static">static</option>
                        <option class="dropdown-item" value="google">google</option>
                    </div>
                </select>
                <div class="input-group-prepend">
                    {% csrf_token %}
                    <input class="search-input form-control" type="text" name="query" id="query" placeholder="Type to search">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP AJAX WINDOW HERE -->
    <div class="gsc-results-wrapper-overlay gsc-results-wrapper-visible" style="display: none;" id="dialog">
        <!-- better to perform ajax to render the results -->
        <h2>Light Searching Result</h2>
    <div class="gsc-results-close-btn gsc-results-close-btn-visible" id="exit_btn"></div>
    <div id="search-result" class="list-group">
    <!-- BOOTSTRAP FORMAT -->
    {% if result_list %}
        <h2>Results</h2>
        <div class="list-group" >
            {% for result in result_list %}
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">
                        <a href="{{result.link}}">
                            {{result.title|safe|escape}}
                        </a>
                    </h3>
                    <p class="list-group-item">
                        {{result.summary|safe|escape}}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

    <!-- dynamic searching in google -->
    <div class="gcsc-more-maybe-branding-root"></div>
    <!-- hidding the google search api when loading-->
    <script async src="https://cse.google.com/cse.js?cx=010938217216454462722:unpmdeb1lhb"></script>
    <div class="gcse-search" style="display: none;"></div>
    </div>

{% endblock %}