{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block heading_block %}
	Login to Drinkslist
{% endblock %}
		

{% block nav_button_block %}
	<a href="{% url 'drinkslist:index' %}"><button type="button" class="btn btn-secondary active">Home</button></a>
{% endblock %}
	

{% block body_block %}
<form id="login_form" method="post" action="{% url 'drinkslist:login' %}">
	{% csrf_token %}
	<br />
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
{% endblock %}