{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}


{% block heading_block %}
	Profile for {{selected_user.username}}
{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<div class="text-center">
		{% if user_profile.picture %}
			<img class="rounded round-icon" src="{{ MEDIA_URL }}{{ user_profile.picture }}"
            width="300"
            height="300"
            alt="{{ selected_user.username }}'s profile image" />
            <br />
		{% else %}
            <img class="rounded round-icon" width="64" height="64"
            src="{% static 'images/default.png' %}"/>
            <br />
		{% endif %}
			<h1 class="display-4">{{ selected_user.username }}'s Profile</h1>
	</div>
    <!-- <p class="lead">Drinkslist about page</p> -->
    <hr class="my-4">
	<div>
		<p>
		{% if selected_user == user %}
		<!-- current user: edit profile -->
		<form method="post" action="." enctype="multipart/form-data" id="user_form" class="form-control">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="form-group row">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary mt-3">Update</button>
			</div>
		</div>
		</form>
		</p>
		{% else %}
		<p>
		<strong>Is professional:</strong>
		<a href="{{ user_profile.website }}">{{ user_profile.is_professional }}</a>
		</p>
		{% endif %}
		</div>
  </div>
{% endblock %}
    