{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}


{% block heading_block %}
	Profile for {{selected_user.username}}
{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<div class="text-center">
		{% if user_profile.picture %}
			<img class="rounded round-icon" src="{{ MEDIA_URL }}{{ user_profile.picture }}"
            width="300"
            height="300"
            alt="{{ selected_user.username }}'s profile image" id="pic" />
            <br />
		{% else %}
            <img class="rounded round-icon" width="64" height="64"
            src="{% static 'images/default.png' %}" id="pic" />
            <br />
		{% endif %}
			<h1 class="display-4">{{ selected_user.username }}'s Profile</h1>
	</div>
    <!-- <p class="lead">Drinkslist about page</p> -->
    <hr class="my-4">
	<div>
		<p>
		{% if selected_user == user %}
		<!-- current user: edit profile -->
    <div class="form-group">
    <div class="form-control" id="user_form">
		<form method="post" action="." enctype="multipart/form-data" id="user_form">
		{% csrf_token %}
		{{ form.as_p }}
			<div class="col-sm-15">
				<button type="submit" class="btn btn-primary mt-3" value="{{user.username}}" id="up-btn" data="{% url 'drinkslist:profile' user.username %}">Update</button>
        <button type="button" class="btn btn-danger mt-3" style="float:right" id="rm-btn" value="{{user.id}}" data="{% url 'drinkslist:user_delete' %}">Remove Account</button>
      </form>
    </div>
		</div>
  </div>
		</p>
		{% else %}
		<p>
		<strong>Is professional:</strong>
		<a href="{{ user_profile.website }}">{{ user_profile.is_professional }}</a>
		</p>
		{% endif %}
    </div>
</div>

<!-- POPUP AJAX WINDOW HERE -->
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_win" id="active_btn" style="display:none">
    </button>
    
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="modal_win" tabindex="-1" role="dialog" aria-labelledby="modal_win_title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="yes">Yes</button>
        </div>
      </div>
    </div>
    </div>



{% endblock %}
    