<!-- this template is shown when registering -->
{% extends 'drinkslist/jumbotron.html' %}
{% load staticfiles %}

{% block title_block %}
    Register: Step 2
{% endblock %}

{% block heading_block %}
    Register: Step 2
{% endblock %}
		

{% block nav_button_block %}
	<a href="{% url 'drinkslist:index' %}"><button type="button" class="btn btn-secondary active">Home</button></a>
{% endblock %}


{% block p_block %}
<h1 id="reminder" class="display-4 mb-5">Register - Step 2</h1>

<form action="{% url 'drinkslist:register_profile' %}" enctype="multipart/form-data" method="post" id="user_form" class="form-control">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary mt-3">Create Profile</button>
        </div>
    </div>
</form>

{% endblock %}
    
    