{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipe Detail
{% endblock %}


{% block heading_block %}
    Recipe Detail
{% endblock %}


{% block body_block %}

<div class="jumbotron">
	<div class="text-center">
        <h1 class="display-4">{{ recipe.drink_name}}</h1>
    </div>
            <div class="col-sm-15">
                <h2 class="display-8">By {{ recipe.added_by }}</h2>
                {% if user_pro %}
                <h3 class="display-8">Pro</h3>
                {% endif %}
        <hr>
	</div>
    <p>
        {% if recipe %}
        <h1 class="display-20">Equipment</h1>
        {{ recipe.equipment }}
        <hr class="my-4">
        <h1 class="display-20">Ingredients</h1>
        {{ recipe.ingredients }}
        <hr class="my-4">
        <h1 class="display-20">How to</h1>
        {{ recipe.how_to }}
        <hr class="my-4">
        <h1 class="display-20">Picture</h1>
        
        {% if recipe.picture %}
        {{ recipe.picture }}
        {% else %}
        No images
        {% endif %}
            
        {% endif %}
    </p>
    <hr class="my-4">
    <div class="container">
    
    <h1 class="display-20">Comments</h1>
    <hr class="my-4">
       {% if comments %}
        {% for c in comments %}
        <li>{{ c.comment }}</li>
        {% endfor %}
        {% else %}
           <strong>What an empty comment section!</strong>
       {% endif %}
    </div>
  </div>
    </div>
</div>



{% endblock %}