{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipe Detail
{% endblock %}


{% block heading_block %}
    Recipe Detail
{% endblock %}


{% block body_block %}

<div class="jumbotron">
	<div class="text-center">
        <h1 class="display-4">{{ recipe.drink_name}}</h1>
    </div>
            <div class="col-sm-15">
                <h2 class="display-8">By {{ recipe.added_by }}</h2>
                {% if user_pro %}
                <h3 class="display-8">Pro</h3>
                {% endif %}
        <hr>
	</div>
    <p>
        {% if recipe %}
        <h1 class="display-20">Equipment</h1>
        {{ recipe.equipment }}
        <hr class="my-4">
        <h1 class="display-20">Ingredients</h1>
        {{ recipe.ingredients }}
        <hr class="my-4">
        <h1 class="display-20">How to</h1>
        {{ recipe.how_to }}
        <hr class="my-4">
        <h1 class="display-20">Picture</h1>
        {% if recipe.picture %}
        {{ recipe.picture }}
        {% else %}
        No images
        {% endif %}
            
        {% endif %}
    </p>
    <hr class="my-4">
    <div class="">
        
        <h1 class="display-20">Comments</h1>
    <div class="">
        {% if user.is_authenticate %}
        <div class="form-group form-control" id="user_form">
            <form method="post" action="." enctype="multipart/form-data" id="user_form" recipe="{{recipe.id}}">
                {% csrf_token %}
                    
                <label for="exampleFormControlTextarea1" >Type your comment here:</label>
                <textarea class="form-control" id="cm" rows="3" name="content" value=""></textarea>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark mt-3" id="cm-btn">Comment</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
            
        {% if comments %}
        {% for c in comments %}
        <div class="container">
            <li>{{ c.comment }}</li>
            <strong><p class="float-right">made by {{c.made_by}}</p></strong>
        </div>

        <hr class="my-4">
         {% endfor %}
         {% else %}
            <strong>What an empty comment section!</strong>
        {% endif %}
    </div>
    </div>
  </div>
    </div>
</div>



{% endblock %}