{% extends 'drinkslist/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipe Detail
{% endblock %}


{% block heading_block %}
    Recipe Detail
{% endblock %}


{% block body_block %}
    <div class="container">

    <h1 class="display-4">{{ recipe.drink_name}}</h1>
        <h2 class="display-8">By {{ recipe.added_by }}</h2>
    <hr class="my-4">
        {% if recipe %}
            {{ user.name }}
            {{ recipe.drink_name }}
			{{ recipe.added_by }}
			{{ recipe.equipment }}
			{{ recipe.ingredients }}
			{{ recipe.how_to }}
			{{ recipe.picture }}
		{% endif %}
    </div>

     <div class="container">

    <h1 class="display-20">Comments</h1>
    <hr class="my-4">
        {% if comments %}
         {% for c in comments %}
         <li>{{ c.comment }}</li>
         {% endfor %}
         {% else %}
            <strong>What an empty comment section!</strong>
		{% endif %}
    </div>


{% endblock %}