{% extends 'drinkslist/base.html' %}
{% load staticfiles %}


{% block heading_block %}
    Register
{% endblock %}

{% block title_block %}
    Register    
{% endblock %}
    

{% block nav_button_block %}
    <a href="{% url 'drinkslist:index' %}"><button type="button" class="btn btn-secondary active">Home</button></a>
{% endblock %}


{% block body_block %}

    {% if registered %}
        <strong>Registered</strong>
    {% else %}
        <Strong>Register Here</Strong>
        <form id="user_form" method="post" action="{% url 'drinkslist:register' %}"
        enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p}}
            {{ profile_form.as_p}}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}

{% endblock %}